.offcanvas-crud {
  background: white;
  color: black;
  width: 66vw;

  label,
  input {
    border-color: #e5e5e5 !important;
    color: black !important;
  }
}

.media-grid {
  &:first-child {
    margin-top: 20px;
  }
}

.pell-content {
  background: $white;
}

.uk-container {
  .uk-form-stacked {
    height: 50vh;
  }
}

a.uk-accordion-title::after {
  background-image: url(/assets/icons/bars.svg) !important;
}

#newStopForm a.uk-accordion-title::after {
  background-image: none !important;
}

.otb-handle {
  a {
    cursor: move;

    span {
      cursor: pointer;
    }
  }
}

.uk-accordion-content {
  a {
    cursor: pointer;
  }
}

.crud-stop-list {
  margin-bottom: 5em !important;
}

.uk-accordion-title {
  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.otb-aria-describedby {
  opacity: 0;
  position: absolute;
}

.jodit_tooltip {
  background-color: transparent !important;
}

.fa-question-circle {
  color: royalblue;
}

.uk-checkbox,
.uk-radio {
  height: 2rem;
  width: 2rem;

  &:focus {
    border-color: royalblue;
    border-width: thick;
  }
}

.uk-legend {
  margin: 2rem 0;
  text-transform: capitalize;
}

.uk-tooltip.uk-active {
  font-size: 1.25rem;
  max-width: 25vw;
}

.js-upload.uk-placeholder {
  background-color: lightgray;
  border-color: #454545;
  border-width: 3px;
}

.uk-table-shrink {
  max-width: 1px;
  width: auto;
}

.otb-extras-modal {
  width: unset;
}

.otb-image-loading-bg {
  background-image: url('/admin/assets/images/loading.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;

  img {
    opacity: 0;
  }
}

.otb-image-loaded-bg {
  background-color: white;
}
