<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li><LinkTo @route="admin">Home</LinkTo></li>
                {{#if currentUser.user.super}}
                <li><LinkTo @route="admin.users">Users</LinkTo></li>
                {{/if}}
                <li>
                  <a href="https://github.com/ecds/OpenTourBuilder/wiki/How-to-Use-OpenTour-v.-3.0" aria-label="OpenTour Documentation">
                    Documentation
                  </a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            {{#if this.session.isAuthenticated}}
              <UkButton {{on "click" this.signOut}}>Sign Out</UkButton>
            {{/if}}
        </ul>
        </div>
    </nav>
</div>

<div class='uk-container uk-margin-top uk-container-large'>
  {{!-- <div class='uk-grid' uk-grid> --}}
    {{outlet}}
  {{!-- </div> --}}
</div>
{{!-- <section style='position: fixed; bottom: 0; height: 2em; width: 100vw;' class='uk-align-right'>CURRENT TENANT: {{tenant.tenant}}</section> --}}